<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>
  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>

  <!-- Silence noisy logs -->
  <logger name="org.apache.hc.client5" level="ERROR"/>
  <logger name="com.github.dockerjava" level="ERROR"/>
</configuration>
