<!DOCTYPE html>
<html>
  <head>
    <title>Misk Admin</title>
  </head>
  <body>
    <div id="root"></div>
    
    <!-- Misk Common Libraries -->
    <script type="text/javascript" src="js/styles.js" async></script>
    <script type="text/javascript" src="js/vendors.js" preload></script>

    <!-- Other JS -->
  </body>
</html>
