<!DOCTYPE html>
<html>
  <head>
    <title>Misk Admin</title>
    <!-- <link href="https://unpkg.com/@blueprintjs/icons@^2.0.0/lib/css/blueprint-icons.css" rel="stylesheet" /> -->
  </head>
  <body>
    <div id="root"></div>
    
    <!-- Misk Common Libraries -->
    <script type="text/javascript" src="js/styles.js" async></script>
    <script type="text/javascript" src="js/vendors.js" preload></script>

    <!-- Other JS -->
  </body>
</html>
