<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Misk Exemplar Chat</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
        crossorigin="anonymous">
  <script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js"
    }
  }
  </script>
</head>
<body id="app" class="container">
<h2>Chat Room</h2>
<div class="row" v-for="msg in state.messages">
  <div class="col">
    {{ msg.text }}
  </div>
  <div class="col text-end">
    {{ msg.sentAt }}
  </div>
</div>

<div class="container fixed-bottom input-group mb-3">
  <input type="text" class="form-control" v-model="state.msgInput"
         @keyup.enter="sendMessage(state.msgInput)">
  <button class="btn btn-primary" type="button" v-on:click="sendMessage(state.msgInput)">Send
  </button>
</div>

<script type="module">
  import { createApp, reactive } from 'vue'

  const state = reactive({
    msgInput: "",
    messages: [],
  })

  function updateMessages(message) {
    var now = new Date();
    var time = now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
    state.messages.push({ text: message, sentAt: time });
  }

  createApp({
    data() {
      return {
        state
      }
    },

    mounted() {
      const parts = window.location.href.split("/");
      const room = parts.pop() || parts.pop();
      this.connection = new WebSocket("ws://localhost:8080/room/" + room);

      this.connection.onmessage = function(event) {
        updateMessages(event.data);
      }
    },

    methods: {
      sendMessage: function(message) {
        this.connection.send(message);
        state.msgInput = "";
      }
    },
  }).mount('#app')

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
</body>
</html>
